<header class="header condensed">
  <div class="container">
    <a href="/" class="professional-home">
      <div class="avatar-wrapper">
        <img src="/images/main-avatar.jpg" alt="Robin Collette" class="avatar" />
      </div>
      <div class="professional-name-title">
        <span class="professional-name">Robin Collette</span>
        <span class="professional-title">Licensed Therapist</span>
      </div>
    </a>

    <nav class="primary-nav">
      <button class="mobile-nav-toggle" aria-controls="nav-items" aria-expanded="false">
        <span class="sr-only">Menu</span>
      </button>
      <div class="nav-items-wrapper">
        <ul class="nav-items" id="nav-items">
          <li><a href="/#about-me" class="nav-item">About Me</a></li>
          <li><a href="/#services" class="nav-item">Services</a></li>
          <li><a href="/#testimonials" class="nav-item">Testimonials</a></li>
          <li><a href="/#book" class="nav-item primary-cta">Book</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>