{% layout 'theme' title: "Releases", page: "releases" %}

<div class="inner-section">
  <h2 class="subheader">Releases</h2>
  {% for release in objects.release %}
  <div class="release-container">
    <div class="release-image-container">
      <img src="{{release.image.url}}" alt="{{release.title}}" class="release-image">
    </div>
    <div class="release-information-container">
      <h3 class="release-title">{{release.title}}</h3>
      <p class="release-description">{{release.description}}</p>
    </div>
  </div>
  {% endfor %}
</div>