{% layout 'theme' title: "Releases" %}
<div class="container">
  <div class="background-image"></div>
  <div class="screen"></div>
  <div class="content">
    <!-- Logo, Nav, Player -->
    <button class="menu-toggle" aria-label="Menu Toggle"></button>

    <!-- Mobile Fullscreen Menu -->
    <nav class="mobile-menu">
      <button class="close-menu" aria-label="Close menu"></button>
      <ul class="mobile-nav-list">
        <li><a href="/" class="mobile-nav-link">Latest</a></li>
        <li><a href="/releases" class="mobile-nav-link active">Releases</a></li>
        <li><a href="/tour" class="mobile-nav-link">Tour</a></li>
        <li><a href="/about" class="mobile-nav-link">About</a></li>
        <li><a href="/merch" class="mobile-nav-link">Merch 🡭</a></li>
      </ul>
    </nav>

    <div class="logo-nav-container">

      <a class="logo-wrapper" href="/">
        <span class="logo">Washed<br>Out</span>
      </a>

      <nav class="primary-nav" aria-label="Main Navigation">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="/" class="nav-link">Latest</a>
          </li>
          <li class="nav-item">
            <a href="/releases" class="nav-link active">Releases</a>
          </li>
          <li class="nav-item">
            <a href="/tour" class="nav-link">Tour</a>
          </li>
          <li class="nav-item">
            <a href="/about" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="/merch" class="nav-link">Merch 🡭</a>
          </li>
        </ul>
      </nav>
      <div class="player">
        <button class="play-pause"></button>
        <div class="now-playing">
          <span class="now-playing-label">Now Playing:</span>
          <span class="now-playing-item">Feel It All Around</span>
        </div>
        <button class="volume"></button>
      </div>
    </div>
    <div class="inner-section">
      <h2 class="subheader">Releases</h2>
      <div class="release-container">
        <div class="release-image-container">
          <img src="/images/releases/life-of-leisure.jpg" alt="Life Of Leisure" class="release-image">
        </div>
        <div class="release-information-container">
          <h3 class="release-title">Life Of Leisure</h3>
          <p class="release-description">Suspendisse tincidunt nibh sem, sit amet bibendum magna rutrum sit amet.
            Quisque rhoncus purus sed nulla aliquam, at congue mi iaculis. Fusce vitae aliquam neque. Integer
            ullamcorper justo sagittis consequat porta. Fusce id iaculis nisi. Vestibulum luctus gravida.</p>
        </div>
      </div>
      <div class="release-container">
        <div class="release-image-container">
          <img src="/images/releases/paracosm.jpg" alt="Paracosm" class="release-image">
        </div>
        <div class="release-information-container">
          <h3 class="release-title">Paracosm</h3>
          <p class="release-description">Suspendisse tincidunt nibh sem, sit amet bibendum magna rutrum sit amet.
            Quisque rhoncus purus sed nulla aliquam, at congue mi iaculis. Fusce vitae aliquam neque. Integer
            ullamcorper justo sagittis consequat porta. Fusce id iaculis nisi. Vestibulum luctus gravida.</p>
        </div>
      </div>
    </div>
  </div>
</div>