<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ objects.personal.name }} | {{ objects.personal.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Link to CSS -->
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  {{ page_content }}

  <!-- JavaScript -->
  <script src="/script.js"></script>
</body>

</html>