<li>
  <a href="/#about-me" class="nav-item">About Me</a>
</li>
{% if services.size > 0 %}
  <li>
    <a href="/#services" class="nav-item">Services</a>
  </li>
{% endif %}
{% if testimonials.size > 0 %}
  <li>
    <a href="/#testimonials" class="nav-item">Testimonials</a>
  </li>
{% endif %}
<li>
  <a href="/#book" class="nav-item primary-cta">Book</a>
</li>
