{% layout 'theme' active_page: "photos" %}

<!-- Photo gallery -->
<div class="photo-gallery">
  {% for photo in photos %}
    <div class="photo-item">
      <img src="{{ photo.file.url | default: "#" }}" alt="{{photo.title}}">
    </div>
  {% endfor %}
</div>
<!-- Lightbox -->
<div
  id="lightbox"
  class="lightbox"
  onclick="closeLightbox()">
  <div class="lightbox-content">
    <img id="lightbox-img" src="">
  </div>
</div>
