{% layout 'theme' title: objects.site.name
  , active_page: "photos" %}

<!-- Photo gallery -->
<div class="photo-gallery">
  {% for photo in objects.photos %}
    <div class="photo-item" onclick="openLightbox('{{photo.file.url}}')">
      <img src="{{photo.file.url}}" alt="{{photo.title}}">
    </div>
  {% endfor %}
</div>
<!-- Lightbox -->
<div
  id="lightbox"
  class="lightbox"
  onclick="closeLightbox()">
  <div class="lightbox-content">
    <img
      id="lightbox-img"
      src=""
      alt="Fullscreen Image">
  </div>
</div>
