{% layout 'theme' title: objects.site.name
  , active_page: "photos" %}

<!-- Photo gallery -->
<div class="photo-gallery">
  {% for photo in objects.photos %}
    <div class="photo-item">
      <img src="{% default photo.file.url "#" %}" alt="{{photo.title}}">
    </div>
  {% endfor %}
</div>
<!-- Lightbox -->
<div
  id="lightbox"
  class="lightbox"
  onclick="closeLightbox()">
  <div class="lightbox-content">
    <img id="lightbox-img" src="">
  </div>
</div>
