{% layout 'theme' title: "Privacy Policy"
  , is_legal_page: true %}

<div class="nav-top container">
  <a href="/">&larr; Back to home</a>
</div>
<div class="container">
  {{ privacy_policy.content }}
</div>
