{% layout 'theme' title: "Service" %}
{% include 'partials/inner-nav' %}


<main class="main inner">

  <div id="mobile-nav">
    <nav class="primary-nav">
      <ul class="nav-items">
        <li><a href="/#about-me" class="nav-item">About Me</a></li>
        <li><a href="/#services" class="nav-item">Services</a></li>
        <li><a href="/#testimonials" class="nav-item">Testimonials</a></li>
        <li><a href="/#book" class="nav-item primary-cta">Book</a></li>
      </ul>
    </nav>
  </div>

  <section class="body-section container breadcrumb-nav">
    <a href="/" class="back-to-home">&larr; Return home</a>
  </section>

  <!-- Service Detail -->
  <section id="service-detail" class="body-section container">
    <h2 class="heading">{{ service.name }}</h2>
    <div class="service-body">
      {{ service.body }}
    </div>

    <span class="service-price-large">{{ service.price }}</span>
    <a href="/#book" class="primary-cta-large">Book this session</a>
  </section>
</main>