{% layout 'theme' title: "Terms of Service"
  , is_legal_page: true %}

<div class="nav-top container">
  <a href="/">&larr; Back to home</a>
</div>
<div class="container">
  {{ terms_of_service.content }}
</div>
