{% layout 'theme' title: "Tour", page: "tour" %}

<div class="inner-section">
  <h2 class="subheader">Tour Dates</h2>
  <div class="tour-dates-container">
    {% for tourdate in objects.tour %}
    <div class="tour-date">
      <span class="date">{{tourdate.date | date: "%b %d, %Y"}}</span>
      <span class="location">{{tourdate.location}}</span>
      <span class="venue">{{tourdate.venue}}</span>
      <a href="{{tourdate.ticket_url}}"
        class="tickets{% if tourdate.tickets_available == false %} sold-out{% endif %}">{% if tourdate.tickets_available
        == false %}Sold Out{% else %}Tickets{% endif %}</a>
    </div>
    {% endfor %}
  </div>
</div>